@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* 
===================
     css reset
===================
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


ul {
  list-style-type: none;
}


h1 {
  font-size: 90px;
  font-family: "Kaushan Script", cursive;
}


h2 {
  font-size: 50px;
  font-family: "Kaushan Script", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.mb {
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}





.more-button {
  z-index: 1;
  margin-top: 1rem;
  position:absolute;
  bottom:2rem;
}


p {
  font-size: 30px;
  font-weight: 300;
}


body {
  font-family: "Kaushan Script", cursive;
  max-width: 100vw;
  overflow-x: hidden;
}


#particles-js {
  background-size: cover;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.particle-js-div {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.particles-js-canvas-el {
  transition: transform 10s ease-in;
  transition-duration: 5s;
  transform: translate(-100%, 100%);
}
/* 
===================
    section
===================
 */

 .main-hero-area {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
 }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
  transition: all 5s ease-in-out;

}

.logo-img {
  width: 3.5rem;
  display: flex;
  transition: all 0.5s ease-in-out;
}
.logo-img:hover {
  transform: scale(1.2) ;
}

.hamburger {
  position: relative;
}

section {
  border: 1px solid black;
}

/* header section */
.hero {
  background-color: #101727;
  height: fit-content;
  color: white;
  font-size: 40px;
  min-height: 500px;
}



nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 5rem;
  align-items: center;
  background-color: transparent;
  z-index: 5;
  color: white;
  z-index: 20;
  font-family: "Kaushan Script", cursive;
  background-color: transparent;
}

.hero-text h1 {
  margin-top: 5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
  font-size: 25px;
}


#nav-list li {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  margin:2px;
  background:#101727
}


#nav-list li:hover {
  background: #ef744b;
  color: white;
  transition: linear 0.1s;
}


.hero-text {
  margin-top: 4rem;
  margin-left: 60px;
  margin-bottom: rem;
  z-index: 2;
  font-family: "Kaushan Script", cursive;
}


.hero-text::before {
  content: "Hi There 👋 , I ";
  position: absolute;
  font-size: 30px;
  top: 50px;
  left: 10px;
  color: coral;
  z-index: 2;
}

.hero-area {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  min-height: 490px;
  /* margin-bottom: 2rem; */
}

.hero-area::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  animation: hero-bg;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}



@keyframes hero-bg {
  0% {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    left: 0%;
    bottom: 0%;
  }

  50% {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    left: 50%;
    bottom: 50%;
  }
  100% {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    left: 100%;
    bottom: 100%;
  }
}

.socials {
  margin-right: 40px;
  margin-top: 9rem;
  z-index: 3;
}

.social {
  margin: 10px 20px;
}

.social-icon {
  transition: transform 0.5s ease-in-out;
}

.social-icon a svg {
  transition: all 0.8s ease-in-out;
}
.social-icon a svg:hover {
  transform: scale(1.2) rotate(360deg) translate(0px, 0px);
}

/* 
===================
   sub - section
===================
 */

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background-color: #dde2d4;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.headshot {
  width: 230px;
  height: 370px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  padding: 1rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.headshot:hover {
  transform: scale(1.15);
}

.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  z-index: 1;
}

.information h2 {
  color: #0c2152;
}

.information p {
  font-size: 1rem;
  margin-top: 10px;
}
 
.information .about-me-text {
  text-align: justify;
  font-size: 0.9rem;
}

.headshot-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  z-index: 1;
}

/* project section */

.project-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px 10px;
  margin-top: 10px; 
  align-items:center;
  z-index: 1;

}

.project-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  color: #0c2152;
  background-color: #dde2d4;
  padding: 1.5rem 0rem;
}

/* ============================= */
/*        tablet  screen */
/* ============================= */


.display-screens{
  padding: 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  gap: 2rem;
} 

.display-screens div{
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
} 

.tablet {
  position: relative;
  width: 456px;
  height: 600px;
  background-image: url('../images/projects/ipad-optimised.png');
  border: 1px solid #042743;
  transition: all 1s ;
  
}


.tablet:hover {
  transform: scale(1.03);
}


.tablet iframe {
  border-radius: 10px;
    top: 63px;
    left: 70px;
    width: 768px;
    height: 1024px;
    overflow-y: hidden;
    transform: scale(0.41);
    transform-origin: left top;
    position: relative;
    background-color: whitesmoke;
}

.project-links {
  width: 90%;
  left: 5%;
  position: absolute;
  bottom: 5px;
}

.project-links hr {
  margin: auto;
}



#projects-display-container-2{
  display: none;
  height: 0;
  transition: height 1s ease-in-out;
}

#projects-display-container-2.show-extra-projects  {
  display: flex;
  height: fit-content;
  transition: height 1s ease-in-out;
}


/* ============================= */
/* ============================= */

.sub-section-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 80px;
  max-height: fit-content;
  overflow: hidden;
  background-color: #dde2d4;
  color: #0c2152;
  min-height: 100vh;
}

#articles .project-container {
  width: 80vw;
  margin: 1.5rem 0rem;
  z-index: 1;
}

.sub-section-2::before {
  content: "";
  width: 100%;
  height: 800vh;
  position: absolute;
  top: 0;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%231e1b23' fill-opacity='0.16' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23042743' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

  background-size: 90px 90px;
  background-repeat: repeat;
  animation: project-bg linear 50s infinite;

}

.sub-section-2 h2 {
  position : absolute;
  top: 4rem;
}

@keyframes project-bg {
  100% {
    transform: translateY(-400vh);
  }
}
/*
=================
      cards 
================
*/
.project-card {
  box-shadow: 5px 5px 20px grey;
  margin: 10px;
  padding-bottom: 20px;
  width: 300px;
  background-color: #dde2d4;
  background-color: inherit;
  transition: all 0.6s ease;
  overflow: hidden;
  height:157px;
  border-radius:15px
}


.project-card:hover {
  height:325px;
}



.sub-text {
  font-size: 15px;
  font-weight: 300;
  background-color: #dde2d4;
}

.project-card h3 {
  background-color: #dde2d4;
}

.subtext {
  background-color: #dde2d4;
  font-family: "Poppins", sans-serif;
}

.project-img {
  width: 300px;
  height: 157px;
  object-fit: cover;
  object-position: top;
  transition: all 0.2s ease-in-out;
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

hr {
  margin: 10px 20px;
}

.contacts a i {
  font-size: 2.5rem;
  margin: 1rem;
  transition: all 1s ;
}
.contacts a i:hover {
  transform: scale(1.2) rotate(360deg) translate(0px, 0px);
  color: #ef744b;
}

.contacts {
  display: flex;
  justify-content: center;
}

#about-me {
  padding: 60px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}


/* hamburger */
.hamburger {
  display: none;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.8s;
  position: relative;
  align-items: center;
  margin-right: 12px;
}

.hamburger:hover {
  transform: scale(1.2);
}

.hamburger.ham-clicked{
  transform: rotate(-90deg);
}

/* hamburger */
.ham-line-1,
.ham-line-2,
.ham-line-3{
  position: relative;
  background-color: white;
  height: 2px;
  width: 40px;
  margin: 10px;
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}



/* ham triangle */
.ham-clicked .ham-line-1 {
  top: 0;
  left: 0px;
  transform: rotate(60deg) translateX(50%);
  transition: all .5s linear;
}

.ham-clicked .ham-line-2 {
  left: 0px;
  top:-12px;
  transform: rotate(-60deg) translateX(-50%);
  transition: all .5s linear;
}

.ham-clicked .ham-line-3 {
  bottom: -10px;
  left: 0px;
  transition: all .5s linear;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4.5rem;
  width: 100%;
  transition: height 0.8s, transform 0.8s;
  padding: 10px 0px;
  height: 300px;
  left: 0;
  background: #101727bb;
}

nav ul {
  position: absolute;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.8s, transform 0.8s;
  color: #ef744b;
  left: 0;
  background: #101727bb;
}

nav {
  display: flex;
  height: 4.5rem;
  position: fixed;
  align-items: center;
}

.ityped {
  color: coral;
}

footer {
  background-color: #101727;
  color: white;
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

/* contact form style */

.contact-form-div {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  z-index: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid white;
  padding: 1rem;
  width: 100%;
  min-width: 250px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.contact-form label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

.contact-form label input,
.contact-form label textarea {
  padding: 0.5rem 0.8rem;
  width: 100%;
  outline: none;
  border-radius: 10px;
}

.contact-form label textarea{
  min-height: 5rem;
}

.contact-form-submit-btn {
  border: none;
  outline: none;
}

.about-me-h2 {
  z-index: 1;
}

.about-me-h2 span {
  display: inline-block;
  cursor: context-menu;
}

.about-me-h2 span:hover{
  transition: all 0.3s;
  color: coral;
  animation: animate 0.8s;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
  0 3px 0 #ccc, 0 4px 0 #ccc,
  0 5px 0 #ccc, 0 6px 0 #ccc,
  0 7px 0 #ccc, 0 8px 0 #ccc,
  0 9px 0 #ccc, 0 10px 0 #ccc,
  0 11px 0 #ccc, 0 12px 0 #ccc,
  0 20px 30px rgba(0, 0, 0, 0.5);
}

@keyframes animate {
  25% {
    transform: scale(0.8, 1.3);
  }

  50% {
    transform:  scale(1.1, 0.8);
  }
  75% {
    transform:  scale(0.7, 1.2);
  }
}



/* button effect */
.button {
  width: fit-content;
  background-color: coral;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 300px;
  padding: 0.3rem 0.8rem;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition:  0.8s ;
  position: relative;
  overflow: hidden;
  z-index: 1;

}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.button:hover::before {
  height: 180%; 
}

.button:hover {
  color: coral;
  transition: 0.8s;
  z-index: 1;
}







@media only screen and (max-width: 1000px) {
 

  .headshot {
    margin-bottom: 20px;
  }
  .hero-text h1 {
    padding-right: 3rem;
  }

  .project-container {
    gap: 20px 10px;
    flex-direction:column;
  }

  .hero-text h1 {
    margin-top: 0rem;
  }
  h1 {
    font-size: 80px;
  }

  .hero-text {
    margin-top: 0rem;
  }

  .hero-text::before {
    top: -30px;
    left: 10px;
  }

  .socials {
    margin-top: 1.5rem;
  }

  .sub-section-2 h2 {
    top: 1rem;
  }
}



@media only screen and (max-width: 750px) {
  #about-me {
    padding: 20px 50px;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .hero-area {
    flex-direction: column;
    align-items: flex-start;
    justify-content: normal;
  }
  .socials {
    display: flex;
    margin-left: 45px;
    padding-bottom: 3rem;
    margin-top: 0rem;
  }
  .hero-text {
    margin-bottom: 30px;
    margin-top: 5rem;
  }

  .hero-text h1 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }
  .hero-text p {
    margin-bottom: 1rem;
  }

  .social {
    margin: 0.5rem;
  }

  footer p {
    font-size: 1rem;
  }

  h1 {
    font-size: 42px;
  }

  footer {
    padding: 50px 40px;
    
  }

  ul li {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
  

  p {
    font-size: 24px;
  }


  .hero-text::before {
    top: 50px;
    left: 10px;
    font-size: 20px;
  }

  .tablet {
    width: 350px;
    height: 500px;
   }

   .tablet:hover {
    transform: scale(1.01);
  }
  
 
   .tablet iframe {
     top: 46px;
     left: 52px;
     transform: scale(0.499);
   }
 
   .tablet iframe { 
     width: 482px;
     height: 640px;
   }
   .display-screens {
    gap: 1.4rem
   }
}

@media only screen and (max-width: 450px) {
  .display-screens {
    padding: 1rem 0px;
  }
  .tablet {
   width: 270px;
   height: 430px;
  }

  .tablet iframe {
    top: 36px;
    left: 42px;
    transform: scale(0.399);
  }

  .tablet iframe { 
    width: 482px;
    height: 640px;
  }

}

@media only screen and (max-width: 400px) {
  .hero-text h1 {
    font-size: 2.5rem;
    /* margin-top: 15rem; */
  }

  .hero-area {
    align-items: center;
    justify-content: center;
  }

  .socials {
    margin-bottom: 5rem;
    margin-left: 5px;
  }

  .hamburger {
    font-size: 1.5rem;
  }
  .logo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }

  .hero-text {
    margin-left: 50px;
  }

  nav.sticky {
    padding: 2rem 2rem;
  }

  .text {
    font-size: 0.7rem;
  }

  .btns {
    flex-direction: column;
    gap: 0;
  }

 
}

@media only screen and (max-width: 350px) {
  .socials {
    margin-left: 20px;
  }
  .project-card {
    width:250px
  }
  
  .project-img {
    width:250px
  }

  .project-card:hover {
    transform: scale(1.01);
  }
}

@media only screen and (max-width: 300px) {

  .project-card:hover {
    transform: scale(1);
  }
}
